*{
    margin: 0px;
    padding: 0px;
}
.body{
    font-family: 'Courgette', cursive;
    margin: 0%;
    text-decoration: none;
     
 }
 :root{
    --praimary-color:#92400e;
 }
    
    
      
    
