@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@1,700&family=Courgette&family=Merriweather:ital,wght@0,700;1,400&family=Stoke&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

.body{
   /* font-family: 'Cormorant Infant', serif; */
   /* font-family: 'Courgette', cursive;  */
/* font-family: 'Merriweather', serif; */
  font-family: 'Stoke', serif;
   margin: 0%; 
   text-decoration: none;
     
 }

 :root{
    --praimary-color:#7c2d12;
 }

nav{
   background-color:var(--praimary-color);
   font-size: xx-large;
   padding: 4rem 4rem;
   text-align: center; 
   font-family: 'Cormorant Infant', serif; 
   /* border-bottom: 2px solid brown; */

 } 

 .image {
   display: block;
   /* margin-left: auto;
   margin-right: auto; */
   margin: auto;
   width: 50%;
   padding:0.5rem ; 
} 

#textinput{
   box-sizing: border-box;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 60%;
   min-height: 20vh;
   
}

textarea{
   min-height: 20vh;
   margin-top: 0.2rem;
   font-size: large;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   border: 0.2rem solid black;
   padding: 1rem;
}   
    
button{ 
   box-sizing: border-box;
  display: block; 
  margin: auto;
   margin-top:1rem;
  margin-bottom: 1rem;
  background-color: var(--praimary-color);
  border: 3px solid black ;
  border-radius: 0.7rem;
  padding: 1rem 3rem;
  font-family: 'Courgette', cursive;
  font-size: large;
  
}
 
#output{
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  min-height: 20vh;
  margin-top: 0.2rem;
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 0.2rem solid black; 
  padding: 1rem;
  margin-bottom: 2rem;
 } 

 h4{
   color: #92400e;
   padding-bottom: 1.5rem;
 }

footer{
    background-color: black;
    padding: 3rem;
    color: var(--primary-color);
    text-align: center;
    font-size: xx-large;
    font-weight: 100;
}

a.link{
    padding: 1rem 1rem;
}

